* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0 150px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 10px;
}

.gallery-link {
  display: block;
  position: relative;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-close,
.sl-wrapper .sl-navigation button.sl-next,
.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-counter {
  color: #fff !important;
}

.link-return-container {
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
}

.link-return {
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}

.link-return-container:hover {
  transform: scale(1.05);
}
